/* Shared CSS */
.link {
text-decoration: none;
color: rgb(13, 228, 102);
}

.app {
max-height: 100vh;
}


/* Spotify CSS */
.spotify-login-box {
background-color: black;
/* text-decoration: none; */
max-width: 50vw;
max-height: 50vh;
/* display: ; */
font-size: medium;
/* margin: 0rem; */
}

img {
padding: 5%;
}

.genre-header {
background-color: black;
/* display: flex; */
margin: 0px;
color: whitesmoke;
max-width: 50vw;
max-height: 50vh;
text-align: center;
}

form {
background-color: black;
display: flex;
padding: 1rem;
max-width: 50vw;
max-height: 50vh;
color: whitesmoke;
text-align: center;
/* border: 2px rgb(255, 255, 255) solid; */
font-size:.8rem;
}

.genre-intro {
font-size: small;
text-align: left;
}

.user-playlists-div {
max-width: 50vw;
max-height: 50vh;
background-color: black;
color: whitesmoke;

}

.user-playlists-box {
max-width: 50vw;
max-height: 50vh;
/* background-color: black; */

}

/* iTunes CSS */
